@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.brand-text{
    font-size: 23px;
    margin-left: 8px;
    font-weight: 900;
}

.nav-item a{
    font-size: 18px;
    font-weight: 600;
}

.breadcrumb-item-dark a{
    font-weight: 400;
    color: #8D8989;
}

.breadcrumb-item-primary a{
    font-weight: 400;
    color: #007BFF;
}

.footer-text{
    font-weight: 500;
    color: #8D8989;
}

.footer-app-name{
    font-weight: 600;
    color: #007BFF;
}

.small-card-container {
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    cursor: pointer;
}

.small-card-container .sm-card-left-side .sm-card-left-side-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0;
    line-height: 40px;
}

.small-card-container .sm-card-left-side .sm-card-left-side-container .sm-card-count{
    margin: 0;
    font-size: 55px;
    font-weight: 600;

}
.small-card-container .sm-card-left-side .sm-card-left-side-container .sm-card-title{
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.small-card-container .sm-card-right-side i{
    font-size: 55px;
}

.card .card-header .dashboard-sm-card-title{
    color: #8D8989;
    font-weight: 600;
}

.pill-count{
    font-size: 15px;
}

.card-counter-body{
    height: 68px;
}

.card .card-header span{
    color: #8D8989;
    font-size: 18px;
    font-weight: 800;
}

div.dataTables_wrapper div.dataTables_length label{
    font-weight: 400;
    color: #8D8989;
}

div.dataTables_wrapper div.dataTables_length select{
    font-weight: 400;
    color: #8D8989;
    border: 1px solid #8D8989;
}

div.dataTables_wrapper div.dataTables_filter label{
    font-weight: 400;
    color: #8D8989;
}

div.dataTables_wrapper div.dataTables_filter input{
    border: 1px solid #8D8989;
    color: #000;
    font-weight: 400;
    height: 38px;
    padding-left: 8px;
    outline: none;
}
.table.dataTable tbody td{
    color: #8D8989;
    font-weight: 500;
}

option{
    color: #8D8989;
    font-weight: 400;
}

div.dataTables_wrapper div.dataTables_info{
    color: #8D8989;
    font-weight: 400;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    color: #8D8989;
    font-weight: 400;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    font-weight: 400;
    color: #8D8989;
}

table thead tr{
    background-color: #333;
    color: #fff;
}

textarea{
    resize: none;
}
label{
    color: #8D8989;
}

.text-danger{
    color: #DC3545;
    font-weight: 400;
}

.alert-close-icon{
    color: #fff;
    font-weight: 400;
}

.close{
    border: none;
    outline: none;
}

.select2-container{
    height: 37.99px;
    font-size: 16px;
    font-weight: 600;
}
.select2-container--default .select2-selection--single{
    height: 37.99px;
    font-size: 16px;
    font-weight: 600;
}

.select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-search--dropdown .select2-search__field, .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable, .select2-results__option{
    font-weight: 400;
}

#selected-collaborator-card{
    min-height : 287.84px;
}

.btn{
    color: #fff;
    font-weight: 600;
}

.btn span{
    color: #fff;
    font-weight: 600;
}

.project-title{
    font-size: 20px;
    font-weight: 500;
    color: #8D8989;
}

.project-code{
    font-size: 16px;
    font-weight: 500;
    color: #17A2B8;
}

.project-relationship-counter{
    font-size: 16px;
    font-weight: 500;
    color: #8D8989;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.project-relationship-counter:hover{
    color: #007BFF;
}

.project-detail-container{
    font-size: 16px;
    font-weight: 500;
    color: #8D8989;
    cursor: pointer;
}

.project-description{
    font-size: 16px;
    font-weight: 500;
    color: #8D8989;
}

.project-readme{
    font-size: 16px;
    font-weight: 500;
    color: #8D8989;
}

.announcement-container{
    line-height: 15px;
}

.announcement-title{
    font-size: 16px;
    font-weight: 500;
    color: #8D8989;
    margin-bottom: 0;
    padding-bottom: 0;
}

.announcement-date{
    font-size: 10px;
    font-weight: 600;
    color: #8D8989;
    margin-top: 0;
    padding-top: 0;
}

.announcement-description{
    font-size: 16px;
    font-weight: 500;
    color: #8D8989;
    margin-top: 5px;
}


.history-container{
    line-height: 15px;
}

.history-title{
    font-size: 16px;
    font-weight: 500;
    color: #8D8989;
    margin-bottom: 0;
    padding-bottom: 0;
}

.history-date{
    font-size: 10px;
    font-weight: 600;
    color: #8D8989;
    margin-top: 0;
    padding-top: 0;
}

.history-description{
    font-size: 16px;
    font-weight: 500;
    color: #8D8989;
    margin-top: 5px;
}

.project-details-h-100{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}